<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>My SNS</title>
</head>

<nav style="background: none;">
    <div class="nav-wrapper ">
        <ul class="hide-on-med-and-down">

            {% for page in page_list %}
            <li class="{{ is_active(page) }}"><a href="{{ url_for(page) }}">{{page}}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>


{% block content %}
{% endblock %}

<footer>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="static/js/script.js"></script>

</body>

</html>