{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="page_title">Create User Profile</h2>

    <form method="POST">
        <div class="input-field">
            <input type="text" id="description" name="description" class="validate" value="{{ user.description}}">
            <label for="description">Description:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="text" id="age" name="age" class="validate" value="{{ user.age }}">
            <label for="age">Age:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="text" id="work" name="work" class="validate" value="{{ user.work }}">
            <label for="work">Work:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <br>

        <button class="btn pulse" type="submit">登録</button>
    </form>
</div>
{% endblock %}