{% extends "base.html" %}
{% block content %}
<div class="container">

    <h2 class="page_title">Login</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="error_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" style="width: 240px;">
        <div class="input-field">
            <input type="text" id="username" name="username" class="validate">
            <label for="username" style="color: #ffffff;">ユーザー名:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" class="" validate>
            <label for="password">パスワード:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>

        </div>
        <button class="btn pulse" type="submit">ログイン</button>
    </form>
</div>

{% endblock %}