{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>new post page</h2>

    <form method="POST" style="width: 240px;">
        <!-- <div class="input-field">
            <input type="text" id="title" name="title" class="validate">
            <label for="title" style="color: green;">タイトル</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div> -->
        <div class="input-field">
            <input type="text" id="content" name="content" class="validate">
            <label for="content">content</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>

        <button class="btn pulse" type="submit">登録</button>
    </form>
</div>



{% endblock %}