{% extends "base.html" %}


{% block content %}
<div class="container">
    <h2 class="page_title">{{ user.username }}'s profile!</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <a class="create_profile_link" href="{{ url_for('create_profile') }}">create_profile</a>

    <p>Username : {{ user.username }}</p>
    <p>Description : {{ user.description }}</p>
    <p>Age : {{ user.age }}</p>
    <p>Work : {{ user.work }}</p>
</div>
{% endblock %}