{% extends "base.html" %}
{% block content %}
<div class="container">

    <h2>Register</h2>

    <form method="POST" style="width: 240px;">
        <div class="input-field">
            <input type="text" id="username" name="username" class="validate">
            <label for="username" style="color: #ffffff;">ユーザー名:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="email" id="email" name="email" class="validate">
            <label for="email">メールアドレス:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>
        </div>
        <div class="input-field">
            <input type="password" id="password" name="password" class="" validate>
            <label for="password">パスワード:</label>
            <span class="helper-text" data-error="wrong" data-success="right"></span>

        </div>
        <button class="btn pulse" type="submit">登録</button>
    </form>
</div>

{% endblock %}